{% for post in postslist | reverse %}<article><h2><a href="{{ post.url }}" aria-label="Article Title" class="postlist-link">{{ post.data.title }}</a></h2><p>{{ post.data.description }}</p><p>By {{metadata.author.name}} on <time datetime="{{ post.date | htmlDateString }}" aria-label="Article Published">{{ post.date | readableDate }}</time></p></article>{% endfor %}
